<h1>This is the Secret Page</h1>

<p>You found me</p>

<img src='https://kep.cdn.indexvas.hu/1/0/861/8611/86114/8611427_7251840044db9b1f9f0be943cb8bb270_wm.jpg'>

<li><a href='/register'>Sign Up</a></li>
<li><a href='/login'>Login</a></li>
<li><a href='/logout'>Logout</a></li>